//
//  Settings.xcconfig
//  FlexChart
//
//  Created by LeoGeng on 6/2/16.
//  Copyright © 2016 grapecity. All rights reserved.
//
J2OBJC_HOME = /Users/leogeng/Documents/java/j2objc-1.0.2

SWIFT_OBJC_BRIDGING_HEADER = ${PROJECT_DIR}/J2ObjcApp/J2ObjcApp-Bridging-Header.h

HEADER_SEARCH_PATHS = $(inherited) ${J2OBJC_HOME}/include ${DERIVED_FILES_DIR} 

LIBRARY_SEARCH_PATHS = ${J2OBJC_HOME}/lib

OTHER_LDFLAGS = -ljre_emul
